/* #4d394b */

.row{
  width: 100%;
  /* border: 1px solid black; */
}

.col.s10 , .col.s2{
  /* border: 1px solid black; */
  min-height: 100vh;
  padding: 0;
}

.col.s2{
  background-color: #4d394b;
}


.top-row{
  width:100%;
  border-bottom: 1px solid #C0C0C0;
  height: 5vh;

}


.bottom-row{
  height: 7vh;
  border-top: 1px solid #C0C0C0;
  width: 100%;
  position: fixed;
  bottom: 0;

}
