.displayname-div{
  display: flex;
  justify-content: flex-start;
  color: white;
  align-items: center;
  margin-left: 2vw;
}

.displayname-div h4{
  font-size: 16px;
  margin-left: 1vw;
}


.workspace-div{
  display: flex;
  justify-content: space-around;
  border-bottom:  1px  black;
  padding-bottom: 15px;
  color: white;
  margin-top: 15px;
}

.message-type-header{

  font-size: 16px;
  color: #cac4c9

}

.message-type-header:hover{
  color: white;
}


.col.s2{
  background-color: #4d394b;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 220px;
  max-width: 250px;
  margin-left:0 !important;

}

.dashboard-message{
  display: flex;
  flex-direction: column;
}

.message-display-add{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;

}

.modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;



}

.modal-form{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15vh;

}

.ul-channel-messages li:hover:not(:focus){
  background-color: #666;
}

.ul-channel-messages{
  margin-left: 10px;
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}

.ul-channel-messages li{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 1.5em;
}

.search-channel{
  color: white;
}

.fa-user-plus{
  cursor: pointer;
}

.fa-paper-plane{
  color: black;
}

.fa-paper-plane{
  cursor: pointer;
}



.fa-search:hover{
  cursor: pointer;
}
