.col.s10{
  /* border: 1px solid black; */
  min-height: 100vh;
  padding: 0;
  position: relative;
}

.channel-name-header{
  font-weight: bold;
}


/* .spinner-wrapper{
  height:100%;
} */
.spinner-wrapper{
  margin: 0 auto;
  margin-top: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}

.name-and-date{
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  justify-content: flex-start;
  align-items: center;
}

.timestamp-div{
  color: #b2c2bf;
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 2px;

}

.img-container-channel-thumbnail{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 10px;
  flex-shrink: 0;
}
.thumbnail-img{

  border-radius: 5px;
  height: 40px;
  width: 40px;
  filter: brightness(100%);
  transition: .2s;
}

.thumbnail-img:hover{
  opacity: 0.5;
}


.author-div{
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
  font-family: 'Black-Han-Sans';
}



.li-message{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;

}

.li-message:hover{
  background: #f3f3f3;
}

.message-details{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  bottom: 5px;
}


.ul-messages{
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 17vh);
  margin-right: 3px;
  width: 95%;
  margin: 0 auto;
  border-bottom: none;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 5px;

}


.msg-input-wrapper.search-container {
  height: 4vh;
  width: 85%;
  transition: 1s;
  box-shadow: none;
}

.msg-input-wrapper.search-container.selected {

  width: 95%;
  transition: 1s;
}

.msg-input-wrapper.search-container input {
    border-left: none !important;
}


.top-row{
  width: 100%;
  border-bottom: 1px solid #C0C0C0;
  height: 7vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.top-row-left{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;


}

.top-row-right{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;

}


.bottom-row{
  height: 5vh;
  /* border-top: 1px solid #C0C0C0; */
  width: 95%;
  position: absolute;
  bottom: 15px;
  left:0;
  right:0;
  margin: 0 auto;

}


.msg-input-wrapper{
  display: flex;
  height: 100%;
  width: 100%;

}

#msg-input{

  height: 100%;
  box-sizing: border-box;
  width:100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #717274;
  text-indent: 10px;
  box-shadow: none;

}

/* input:focus{
  border-bottom: 1px solid #717274 !important;
  outline: 0 !important;
  outline-width: 0 !important;
  color: black !important;

} */




.msg-input-gif{

  height: 100%;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid #717274;
  border-right: none;

}
