.col.s10{
  /* border: 1px solid black; */
  min-height: 100vh;
  padding: 0;
  position: relative;
}


.ul-messages{
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 17vh);
  margin-right: 3px;
  width: 95%;
  margin: 0 auto;
  border-bottom: none;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 5px;
}







.top-row{
  width: 100%;
  border-bottom: 1px solid #C0C0C0;
  height: 7vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.top-row-left{

}
.top-row-right{


}


.bottom-row{
  height: 5vh;
  /* border-top: 1px solid #C0C0C0; */
  width: 95%;
  position: absolute;
  bottom: 15px;
  left:0;
  right:0;
  margin: 0 auto;




}


.msg-input-wrapper{
  display: flex;
  height: 100%;
  width: 100%;

}

#msg-input{

  height: 100%;
  box-sizing: border-box;
  border-left: none;

  width:100%;
  border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #717274;
    text-indent: 10px;

}

/* input:focus{
  border-bottom: 1px solid #717274 !important;
  outline: 0 !important;
  outline-width: 0 !important;
  color: black !important;

} */




.msg-input-gif{

  height: 100%;

  border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
      border: 2px solid #717274;
      border-right: none;

}
