.workspace-div{
  display: flex;
  justify-content: space-around;
  border-bottom:  1px  black;
  padding-bottom: 15px;
  color: white;
  margin-top: 15px;
}

.message-type-header{

  font-size: 16px;
  color: #cac4c9

}

.message-type-header:hover{
  color: white;
}


.col.s2{
  background-color: #4d394b;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 220px;

}

.dashboard-message{
  display: flex;
  flex-direction: column;
}

.message-display-add{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 10px;
}

/* ul li:hover:not(:focus){
  background-color: gray;
} */

.ul-channel-messages li:hover:not(:focus){
  background-color: #666;
}

.ul-channel-messages{
  margin-left: 10px;
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}

.ul-channel-messages li{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 1.5em;
}





/*
.channel-index-item li:focus:not(:hover){
  background-color: red;
}


.channel-index-item li:focus{
  background-color: red;
}


.channel-index-item li:hover:not(:focus){
  background-color: gray;
}


.channel-index-item a:last-of-type li{
  background-color: red;

} */
