.search-ul{
  overflow-y: auto;
  overflow-x: hidden;
  width: 95%;
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 50vw;

}

.search-user-selected{

}


.search-li{
  display: flex;
  flex-direction: row;

}

.search-results-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fa-users{
  cursor: pointer;
}
