.channel-people{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.a-channel-info{
  color: black;
}

.a-channel-info:hover{
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.fa-info-circle{
  color: gray;
}

.a-channel-info:hover{
  cursor: pointer;
}


.members-list-info{
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  align-items: center;
  margin-bottom: 5px;
}

.members-list{
  overflow-y: auto;
}

.members-li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 5px;
  overflow:hidden;
  text-overflow: ellipsis;

}

.members-li:hover{
  background: #f3f3f3;

}

.members-li > *{
  margin-right: 5px;
}

.search-thumbnail-img{
  height: 25px;
  width: 25px;
}

.fa-circle{
  color: #32CD32;
  font-size: 15px;

}


.fa-user{
  color: green;
}


.about-channel{
  display: flex;
  justify-content: space-around;
  background: #D3D3D3;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.channel-info-panel{
  height: calc(100vh - 17vh);
  width: 18vw;
  border: 1px solid gray;
  border-top:none;
  border-right:none;
  border-bottom:none;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  margin-top: 7vh;
  margin-bottom: 5vh;
  background: white;
  transition: 2.5s;
  z-index: 1;
}

.active-panel{
  margin-right: 21vw;
}
